<div class="w-full h-max pb-5 text-center flex flex-col items-center">
  <h1 class="text-2xl">Contact Us </h1>
  <p>Lorem ipsum, dolor sit amet <br> consectetur</p>
  <p class="mt-2">adipisicing elit.</p>
</div>

<div class="w-full h-[45rem] pb-5 bg-[#ffffff] md:flex md:flex-row">
  <img class="w-80 shadow-grey-500 shadow-md mx-auto
  md:w-[30rem] md:h-[25rem] md:relative md:right-80 md:top-5"
  src="../../../assets/images/map-img.png" alt="">
 <form action="" class="flex flex-col items-center md:absolute md:right-10 md:top-41">
  <label for="">Name</label>
  <input class="w-80 h-10 rounded-md bg-slate-100 border-2 border-black" type="text">
  <label for="">Email</label>
  <input class="w-80 h-10 rounded-md bg-slate-100 border-2 border-black" type="email">
  <label for="">Message</label>
  <textarea class="border-2 w-80 border-black resize-none rounded-md bg-slate-100" cols="30" rows="10"></textarea>
  <button class="bg-black text-white w-80 h-10 rounded-md hover:bg-slate-800 mt-5" type="submit">Submit</button>
 </form>
</div>
