<div class="w-full h-40 bg-white flex flex-col items-center ">
  <p class="text-[#74C69D] mt-2">W O R K S </p>
  <p class="text-2xl font-serif">portfolio</p>
  <p class="text-center text-xl">
    Lorem ipsum, dolor sit amet <br>
     consecteturadipisicing elit.
  </p>
</div>

<div class="w-full h-max bg-white pb-4 ">
    <div class="flex flex-col items-center md:flex md:flex-row md:items-center">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-1.png" alt="">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-2.png" alt="">
    </div>
    <div class="flex flex-col items-center md:flex md:flex-row md:items-center">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-3.png" alt="">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-4.png" alt="">
    </div>
    <div class="flex flex-col items-center md:flex md:flex-row md:items-center">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-5.png" alt="">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/worl-6.png" alt="">
    </div>
    <div class="flex flex-col items-center md:flex md:flex-row md:items-center">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-7.png" alt="">
      <img class="w-80 h-auto  mt-4 sm:w-96 md:h-80 md:w-96 mx-auto lg:w-[38rem]
      border-sm border-red-300 lg:h-96" src="../../../assets/images/work-8.png" alt="">
    </div>
</div>

